[run]
omit =
    */tests/*
    */migrations/*
    web_core/asgi.py
    web_core/wsgi.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:  # pragma: no cover
    @abc.abstractmethod
