[submodule "web_core/workspace/taskboard-module"]
	path = web_core/workspace/taskboard-module
	url = https://github.com/hewenttojrod/taskboard-module.git
[submodule "web_core/workspace/taskboard_module"]
	path = web_core/workspace/taskboard_module
	url = https://github.com/hewenttojrod/taskboard_module.git
